<div class="data-table-container">
    <!-- Table Header -->
    <header class="data-table-header">
        <div class="data-table-header__label">
            <span class="fs-title">术语项目列表</span>
        </div>

        <div class="data-table-header__actions">
            <lx-button lx-size="l" lx-color="black" lx-type="icon">
                <i class="mdi mdi-filter-variant"></i>
            </lx-button>

            <lx-dropdown lx-position="right" lx-over-toggle="true">
                <lx-dropdown-toggle>
                    <lx-button lx-size="l" lx-color="black" lx-type="icon">
                        <i class="mdi mdi-dots-vertical"></i>
                    </lx-button>
                    <lx-dropdown-toggle>

                        <lx-dropdown-menu>
                            <ul>
                                <li><a class="dropdown-link">Action</a></li>
                                <li><a class="dropdown-link">Another action</a></li>
                                <li><a class="dropdown-link">Something else here</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a class="dropdown-link dropdown-link--is-header">Header</a></li>
                                <li><a class="dropdown-link">Separated link</a></li>
                            </ul>
                        </lx-dropdown-menu>
            </lx-dropdown>
        </div>
    </header>
    <!-- Table -->
    <table class="data-table">
        <thead>
        <tr class="data-table__selectable-row">
            <th></th>
            <th class="data-table__sortable-cell data-table__sortable-cell--desc">术语名称</th>
            <th>
                <i class="mdi mdi-comment-text"></i>
                <span>术语描述</span>
            </th>
            <th>更新</th>
        </tr>
        </thead>

        <tbody>
            <tr class="data-table__selectable-row data-table__selectable-row--is-selected" ng-repeat="glossaryItem in vm.items">
                <td></td>
                <td>{{glossaryItem.title}}</td>
                <td>{{glossaryItem.description}}</td>
                <td>
                    <lx-button lx-type="raised" lx-size="m" lx-color="white" ng-click="vm.update(glossaryItem)">更新</lx-button>
                </td>
            </tr>
        </tbody>
    </table>

    <ui-view></ui-view>
</div>