<lx-dialog id="{{vm.dialogID}}">
    <lx-dialog-header>
        <div class="toolbar bgc-primary pl++">
            <span class="toolbar__label tc-white fs-title">
                新增术语项目
            </span>

            <div class="toolbar__right">
                <lx-button lx-size="l" lx-color="white" lx-type="icon" ng-click="vm.addPerson()">
                    <i class="mdi mdi-close"></i>
                </lx-button>
            </div>
        </div>
    </lx-dialog-header>

    <lx-dialog-content>
        <div class="p+" flex-container="row" flex-gutter="24">
            <div flex-item>
                <lx-text-field lx-label="术语名" lx-fixed-label="true" lx-icon="account">
                    <input type="text" ng-model="vm.glossaryItem.title">
                </lx-text-field>
            </div>

            <div flex-item>
                <lx-text-field lx-label="术语描述" lx-fixed-label="true" lx-icon="account">
                    <textarea type="text" ng-model="vm.glossaryItem.description"></textarea>
                </lx-text-field>
            </div>
        </div>
    </lx-dialog-content>

    <lx-dialog-footer>
        <lx-button lx-color="black" lx-type="flat" lx-dialog-close>取消</lx-button>
        <lx-button lx-type="flat" lx-dialog-close>保存</lx-button>
    </lx-dialog-footer>
</lx-dialog>